MCP_DATA_DIR={{ mcp_data_dir }}
MCP_FS_ROOT={{ mcp_fs_root }}
MCP_GIT_WORKSPACE={{ mcp_git_workspace }}
MCP_MEMORY_PATH={{ mcp_memory_path }}
MCP_LOG_LEVEL={{ mcp_log_level }}
MCP_FETCH_ALLOWED_DOMAINS={{ mcp_allowed_domains }}
